# IntelliJ / VS Code
.idea/
.vscode/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# Spring Boot
backend/target/
backend/build/
backend/.mvn/

# Logs
*.log

# Env
.env

# OS
.DS_Store
Thumbs.db

# Maven
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
*.iml
*.ipr
*.iws
.classpath
.project
.settings

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/